* {
    padding: unset;
    margin: unset;
}

body {
    min-height: 100vh;
}

#input-cari {
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
}

.gambar-jadwal {
    object-fit: cover;
    height: 30vh;
}

.tiket-active {
    border: 3px solid green;
    background-color: unset;
}

.datepicker {
    position: relative;
}

.datepicker input[type="date"] {
    width: 0;
    height: 0;
    background-color: unset;
    border: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}